body
{
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
}

.hidden
{
  display: none;
}

.container
{
  margin:0 auto;
  background-color:#efefef;
  display:flex;
  flex-direction:column;
/*  flex-wrap: nowrap;*/
  max-width:1140px;
}

.box
{
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom:15px;
  height:300px;
}

.box1
{
  background-color: pink;
}

.box2 {
  background-color: red;
}

.box4{
  display: none;
}

.box3{
  display: none;
}

@media screen and (min-width: 641px)
{
  .container 
{
  margin:0 auto;
  background-color:#efefef;
  display:flex;
  flex-direction:row;
  /*  flex-wrap: nowrap;*/
  max-width:1140px;
  
}

.box
{
  color: #fff;
  padding: 10px;
  text-align: center;
  margin:15px;
  width:300px;
  height:500px;
}

  .box1
{
  background-color: blue;
}

.box2 {
  background-color: purple;
}

.box4{
  display:unset;
  background-color: brown;
}

.box3{
  display: unset;
  background-color: darkgrey;
}
}